
<!DOCTYPE html>
<html lang="en">

<head>
    <title>MAFS</title>

      <!-- all the required CDN -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/menu.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../public/js/main.js"></script>

</head>



<div class="container">
        <img  src="../../public/images/logo.jpg " height="75" style="padding-left:10em;"> 

        <!-- SideBar -->
        <div class="sidebar">
            <a href="mainPage.php"><i class="fa fa-fw fa-home"></i> Home</a>
            <button class="dropdown-btn">Discussion 
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-container">
                        <a href="createTopic.php">Create Discussion</a>
                        <a href="viewTopics.php">View Responses</a>
                  </div>
    
                  
                  <button class="dropdown-btn">Strategic Plan
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-container">
                    <a href ="bluePrintHS.php">Blue Print for Higher Ed</a>
                    <a href="strategicAction.php">MAFS Plan</a>
                  </div>
        
            <a href="reportList.php"> MAFS Reports</a>
    
            <a href="meetingReport.php"> Meeting Reports</a>
    
            <a href = "agendaMinute.php">Agenda/Minute  
            </a>
            
            <button class="dropdown-btn">Advocates
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
                    <a href="https://www.aaup.org/" target="_blank">AAUP</a>
                    <a href ="https://agb.org/" target="_blank">AGB</a>
              </div>
    
            <a href = "password.php"> Change Password</a>
            <a href="logOut.php"> Log Out</a>
    </div>
  
      